* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    height: auto;
    width: 600px;
}

body {
    background-image: url(https://i.pinimg.com/originals/df/6e/8d/df6e8d2fe3957652c6f1541f664785c0.jpg);
}

#title {
    font-size: 100px;
    background-color: burlywood;
}

.heading,
.contents {
    background-color: burlywood;
}

.heading {
    font-size: 50px;
}

.contents {
    font-size: 30px;
}